.color-primary{
    color: $color-primary;
}
.color-primary-bg{
    background: $color-primary;
}
.color-font{
    color: $color-font;
}
.color-font-bg{
    background: $color-font;
}
.color-btn1{
    color: $color-btn1;
}
.color-btn1-bg{
    background: $color-btn1;
}
.color-btn2{
    color: $color-btn2;
}
.color-btn2-bg{
    background: $color-btn2;
}
.color-h2txt{
    color: $color-h2txt;
}
.color-h2txt-bg{
    background: $color-h2txt;
}
.color-second{
    color: $color-second;
}
.color-second-bg{
    background: $color-second;
}
.color-primar{
    color: $color-primar;
}

.color-primar-bg{
    background: $color-primar;
}
.color-yellow{
    color: $color-yellow;
}

.color-yellow-bg{
    background: $color-yellow;
}