$font-baloo:"Baloo Thambi 2", cursive;
$font-Arvo:"Arvo", cursive;
$font-Montserrat:"Monterrat", cursive;
$font-rale:"Rale", cursive;

$color-primary:#ffff;
$color-font : #707070;
$color-btn1: #3163EE;
$color-btn2: #4FBBF9;
$color-h2txt: #000000;
$color-second : #00A5C4;
$color-primar: #003859;
$color-yellow: #FFD289; 



